# Анализ белгородских мест общесвтенного питания

### Анализ производится из данных, которые удалось собрать при парсинге yandex карт

In [21]:
import numpy as np 
import pandas as pd 
import scipy.stats as sts 
import matplotlib.pyplot as plt 
import seaborn as sns

In [22]:
df = pd.read_csv('data/belgorod_food_places.csv', index_col='name')
df.head()

,Unnamed: 0,adress,rait,rait_count,link,closing_time,category
name,,,,,,,
Farfor,0,"Харьковский пер., 36Д, Белгород",4.3,391 оценка,https://yandex.ru/maps/org/farfor/73233893783,Открыто до 23:00,Доставка еды и обедов
Перчини Grill&Wine,1,"просп. Славы, 90А, Белгород",4.5,(2416),https://yandex.ru/maps/org/perchini_grill_wine...,Открыто до 23:00,Ресторан
Ниндзя ФУД,2,"ул. Костюкова, 39, Белгород",4.7,(651),https://yandex.ru/maps/org/nindzya_fud/1868725...,Открыто до 23:00,Кафе
Дао,3,"Харьковская ул., 3, Белгород, этаж 1",4.4,407 оценок,https://yandex.ru/maps/org/dao/17169128887,Открыто до 22:00,Ресторан
Тшм,4,"Белгородский просп., 93, Белгород",3.7,239 оценок,https://yandex.ru/maps/org/tshm/190737174920,Круглосуточно,Быстрое питание

In [27]:
df = df.drop(df.columns[[0]], axis=1)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 215 entries, Farfor to Кафе шашлычная Сытое пузо
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   adress        213 non-null    object
 1   rait          212 non-null    float64
 2   rait_count    212 non-null    object
 3   link          212 non-null    object
 4   closing_time  215 non-null    object
 5   category      213 non-null    object
dtypes: float64(1), object(5)
memory usage: 11.8+ KB

In [29]:
df.describe()

             rait
count  212.000000
mean     4.306132
std      0.448917
min      1.600000
25%      4.100000
50%      4.300000
75%      4.500000
max      5.000000

In [32]:
df.describe(include='object')

,adress,rait_count,link,closing_time,category
count,213,212,212,215,213
unique,194,185,210,28,19
top,"ул. Победы, 71, Белгород",153 оценки,https://yandex.ru/maps/org/farfor/73233893783,Открыто до 23:00,Быстрое питание
freq,3,4,2,43,56