<h1>Pandas basic</h1>

In [1]:
import pandas as pd

In [10]:
# Создание DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])

df.head()

      A  B  C
row1  1  4  7
row2  2  5  8
row3  3  6  9

In [11]:
# Доступ к строке по метке
print(df.loc['row1'])

A    1
B    4
C    7
Name: row1, dtype: int64

In [3]:
# Доступ к нескольким строкам
print(df.loc[['row1', 'row2']])

      A  B  C
row1  1  4  7
row2  2  5  8

In [4]:
# Доступ к строкам и столбцам
print(df.loc['row1', 'A'])  # Значение в строке 'row1' и столбце 'A'

1

In [5]:
# Доступ к срезу строк и столбцов
print(df.loc['row1':'row2', 'A':'B'])

      A  B
row1  1  4
row2  2  5

In [12]:
# Доступ к строке по индексу
print(df.iloc[0])  # Первая строка

A    1
B    4
C    7
Name: row1, dtype: int64

In [13]:
# Доступ к нескольким строкам
print(df.iloc[[0, 1]])  # Первые две строки

      A  B  C
row1  1  4  7
row2  2  5  8

In [14]:
# Доступ к строкам и столбцам по индексам
print(df.iloc[0, 0])  # Значение в первой строке и первом столбце

1

In [15]:
# Доступ к срезу строк и столбцов
print(df.iloc[0:2, 0:2])  # Первые две строки и первые два столбца

      A  B
row1  1  4
row2  2  5